<div class="firstMenuBar">
    <div class="title">
        <a class="btn btn-default" href="/"><h1>Prof.Song's EduShop</h1></a>
    </div>
    <br>
    <div class="login">
        <div class="login">
            <%if(loginSess == '0'){%>
                <a class="btn btn-info" href="/logIn">로그인</a>
            <%}else{%>
                <div style="width:270px;">
                    <p style="float: left;padding-top: 5%;"><%-loginInfo.name%>님 반갑습니다.</p>
                    <a class="btn btn-danger" href="/logOut" style="float: right;">로그아웃</a>                    
                </div>       
            <%}%>
        </div>
    </div>
</div>
<br><br>
<div class="secondMenuBar">
    <div class="row">
        <div class="col-xs-6 col-md-1"></div>
        <div id="news" class="col-xs-6 col-md-2" ><a class="btn btn-default" href="/news">홍보</a></div>
        <div id="notices" class="col-xs-6 col-md-2"><a class="btn btn-default" href="/notices">공지사항</a></div>
        <div id="market" class="col-xs-6 col-md-2"><a class="btn btn-default" href="/market">강의</a></div>
        <div id="community" class="col-xs-6 col-md-2"><a class="btn btn-default" href="/community">커뮤니티</a></div>
        <div id="events" class="col-xs-6 col-md-2"><a class="btn btn-default" href="/events">이벤트</a></div>
        <%if(loginSess != '0'){%>
            <%if(loginInfo.grade >= 3){%>
                <div class="col-xs-6 col-md-1"><a class="btn btn-warning" href="/admin">Admin</a></div>
            <%}%>
        <%}%>
    </div>
</div><br>